html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Amaranth", sans-serif;
}

h1 {
  font-weight: 700;
  color: $primary-green-viridian;
}
