$primary-black: hsl(197, 100, 5);
$primary-blue-sapphire: hsl(190, 100, 23);
$primary-green-viridian: hsl(181, 88, 31);
$primary-green-middle: hsl(160, 41, 70);

$secondary-cambodge: hsl(39, 100, 47);
$secondary-orange-alloy: hsl(30, 98, 40);
$secondary-mahogany: hsl(19, 97, 37);
$secondary-rufous: hsl(5, 81, 38);
$secondary-red-ruby: hsl(358, 64, 37);

$primary-pastel-peach: hsl(40, 100, 88);
$primary-pastel-orange: hsl(30, 98, 84);
$primary-pastel-apricot: hsl(19, 98, 84);
$primary-pastel-baby-pink: hsl(5, 80, 88);
$primary-pastel-spanish-pink: hsl(0, 65, 84);

$secondary-pastel-blue: hsl(198, 100, 92);
$secondary-pastel-cyan: hsl(189, 100, 92);
$secondary-pastel-azure: hsl(183, 90, 96);
$secondary-pastel-mint: hsl(159, 41, 92);
$secondary-pastel-floral: hsl(45, 60, 96);
